html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, var, i, center, footer, header, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	zoom:1;
}
section {
	display: block;
}
body {
	line-height: 1;
}
h1 {
	font-size: 34px;
	  line-height: 45px;
}
h2 {
	font-size: 24px;
	margin-bottom: 20px;
	padding-top: 20px;
	line-height: 36px;
}
h3 {
	font-size: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
}
h4 {
	font-size: 18px;
	margin-bottom: 10px;
}
h5 {
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 1px;
}
h6 {
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: normal;
}