@import url(https://fonts.googleapis.com/css?family=Eczar);

body {
    overflow:hidden;
}
body, a, blockquote{
    font-family: 'Eczar', cursive, sans-serif;
    font-weight: 400; 
    color: #333333;
}
p{
    font-family: 'Eczar', sans-serif;
    font-weight: 400; 
    color: #505050;
    font-size: 14px;
}
a, input[type="submit"], input[type="reset"]{
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
*:focus {
    outline: 0;
}
.space{
    width: 100%;
    margin: 52px 0;
    height: 10px;
}
button{
    background-color: white;
    border: solid 1px #333333;
    font-size: 14px;
    padding: 12px 22px;
    color: #333333;
}
#details {
    text-align: left;
}
/* Map */

#mapid { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    height: 180px;
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Eczar', sans-serif;
}
/* Loader */
#pageloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    background: white;
}
.loader-item {
    position: absolute;
    width: auto;
    height: auto;
    margin: -25px 0 0 -25px;
    top:45%;
    left:50%;
    text-align:center;
}
.loader {
  margin: 6em auto;
  font-size: 5px;
  color: #f1ad1d;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #333333;
  border-right: 1.1em solid #333333;
  border-bottom: 1.1em solid #333333;
  border-left: 1.1em solid #333333;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#home {
    width:100%;
    height:auto;
    position:relative;  
}
#slides_background_home {
    position: relative;
    background-color:black;
}
#slides_background_home .slides-container {
    display: none;
}
#slides_background_home .slides-container  div,
#slides_background_home .slides-container  img{
    width:100%;
    height:100%;
}
/* Change the picture of the home background here */
#slides_background_home .slides-container .img0{
    background:url(../img/bg24.jpg) center fixed ;
}
/* Content Fixed Full Background */
.main{
    position:absolute;
    width:100%;
    top:55%;
    margin:0 auto;
    z-index:2;
    background: transparent;
    height:auto;
    min-height:300px;
    padding-left: 70px;
}
.fullbg_bigtxt{
    text-transform: uppercase;
    color: white;
    font-size: 48px;
    margin-top: 30px;
    font-weight: 700;
}
.fullbg_smalltxt{
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
}
.big_title{
    margin-top: 100px;
    margin-bottom: 55px;
    text-align: center;
    font-size: 0px;
}
.big_title_txt{
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.big_title_txt_separ{
    width: 60px;
    height: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.big_title_txt_separ_bg{
    width: 60px;
    height: 3px;
    display: inline-block;
    margin-top: 30px;
}
.big_title .fa_title{
    background-color: #333333;
    font-size: 60px;
    font-weight: 700;
    border: solid 1px #333333;
    display: inline-block;
    line-height: 86px;
    padding: 0 22px;
    margin: 14px 0;
}
.big_title .fa_title .fa{
    font-size: 48px;
    position: relative;
    top: -5px;
}
.text_und_big_title{
    font-size: 17px;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    color: #4d4943;
}
.section_content{
    margin-top: 15px;
    margin-bottom: 55px;
}
.about_content{
    text-align: center;
}
.company_img_block{
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 0px;
}
.company_img_block img{
    position: relative;
    display: block;
    max-width: 100%;
}
.company_img_desc{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #333333;
    color: white;
    font-size: 14px;
    padding: 10px 22px 10px 15px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.company_img_block:hover .company_img_desc{
    left: 30px;
}
.company_img_block:hover img{
    opacity: 0.7;
}
.company_img_block:hover{
    cursor: pointer;
}
.company_content_parag p{
    text-align: justify;
}
.company_content_parag_all{
    position: relative;
    margin: 0;
}
.company_content_parag{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity:0;
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
}
.opaque {
    opacity:1;
    z-index: 999;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}
.content_big_title{
    font-size: 18px;
    display: inline-block;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 26px;
}
.content_btn{
    color: white;
    font-size: 14px;
    padding: 18px 30px;
    font-weight: 700;
    text-decoration: none;
    background-image: none;
}
.content_btn:hover{
    background: #333333;
    text-decoration: none;
}
.company_btn{
    margin-top: 59px;
}
img.popos_img {
    border: solid 1px #333333;
}
.contact_message{
    font-size: 30px;
}
.contact_right_details{
    margin-top: 20px;
    margin-bottom: 35px;
}
.contact_right_details span{
    margin-left: 5px;
}
.contact_right_details .fa{
    background-color: #333333;
    padding: 8px 0px 0px 0px;
    width: 34px;
    height: 30px;
    margin: 4px 0px;
    text-align: center;
}
.follow_us_btn{
    font-size: 18px;
    width: 46px;
    height: 40px;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    color: white;
    background-image: none;
}
.footer{
    text-align: center;
    color: #000000;
    font-size: 14px;
    padding: 35px 0px;
    border-top: solid 1px #333333;
}
#simple_txt_background{
    background: url(../img/bg1.jpg) no-repeat 0 0 fixed;
    width:100%;
    height: 100%;
    opacity:1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 135px 0px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.big_title_txt_bg{
    font-size: 22px;
    color: white;
    padding: 0 15px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.big_title_left{
    margin-top: 85px;
    margin-bottom: 45px;
}
.big_title_txt_left{
    font-size: 30px;
}
.text_und_big_title_left{
    font-size: 14;
    color: #505050;
}
.contact_desc {
    text-align: justify;
}
.contact2_social_btn{
    color: #333333;
    border: solid 1px #333333;
    padding: 10px 25px;
    margin: 5px 8px;
    display: inline-block;
}
.contact2_social{
    margin-top: 45px;
}
#contact_small_text {
    text-align: justify;
}
/* Footer */
.footer4{
    padding: 10px 0;
    background-color: #333333;
    color: white;
    font-size: 14px;
}
.footer4 p{
    color: white;
    width: 615px;
    margin: 45px auto; 
    font-size: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section_content .nav-tabs>li.active>a{
    border-bottom-color: transparent;
    background-color: white;
}
@-webkit-keyframes BackgroundAnimation {
    from {background-position: 0px 0px;}
    to {background-position: 9600px 0px;}
}
@-moz-keyframes  BackgroundAnimation {
    from {background-position: 0px 0px;}
    to {background-position: 9600px 0px;}
}
@-ms-keyframes  BackgroundAnimation {
    from {background-position: 0px 0px;}
    to {background-position: 9600px 0px;}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .company_content_img_all{
        float: initial;
        width: 570px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
        margin: 0 auto;
    }
    .company_content_parag_all{
        float: inherit;
        width: 570px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
        height: 340px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .big_title_txt_bg{
        position: initial;
    }
    .contact_content_left{
        margin-bottom: 35px;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .company_content_img_all{
        float: initial;
        width: 450px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
        margin: 0 auto;
    }
    .company_content_parag_all{
        float: inherit;
        width: 450px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
        height: 340px;
    }
    #about .about_3_parag {
        width: 90%;
    }
    .footer4 p {
        width: 90%;
    }
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .content_big_title{
        padding: 12px 35px 12px 15px;
    }
    .company_content_img_all{
        float: initial;
        width: 320px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
        margin: 0 auto;
    }
    .company_content_parag_all{
        float: inherit;
        width: 282px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
        height: 430px;
    }
    /* About */
    #about .about_1 .content_big_title {
        padding: 12px 30px 12px 15px;
    }
}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	#contact .content_big_title{
		padding: 12px 30px 12px 15px;
	}
}